:root {
  --font: Font, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  --color-white: #fff;
  --color-off-white: #f4f4f4;
  --color-green: #039c88;
  --color-black: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

.hidden {
  display: none;
}

/* --------------- */

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 25px;
  height: 100px;
  transition: height 0.3s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), transparent);

}

.small {
  background-color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  color: var(--color-green);
  background-image: linear-gradient(rgba(0, 0, 0, 0), transparent);
  height: 60px;
}


nav>ul {
  list-style: none;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
  margin-left: 1rem;
  padding: 2rem;
  transition: padding 0.3s ease-in-out;
  border-bottom: 5px solid transparent;
}

nav>ul>li:hover {
  border-bottom: 5px solid var(--color-white);
  border-radius: 2px;
}

.small>ul>li:hover {
  border-bottom: 5px solid var(--color-black);
  border-radius: 2px;
}

nav>ul>li>a {
  font-size: large;
  text-decoration: none;
  color: var(--color-white)
}

.small>ul>li>a {
  color: var(--color-black)
}

.small>ul>li{
  padding-top:1rem;
  padding-bottom: 0.75rem;
}

.burger {
  display: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  content: url("menuHamburgerWhite.png");
}

@media screen {
  @media (max-width:1040px) {
    nav {
      flex-direction: row;
      display: block;
      height: auto;
      padding: 2rem;
    }

    .small {
      height: auto;
    }

    .navHidden {
      display: none;
    }

    nav>ul {
      transition: display 0.5s ease-in-out;
    }

    nav>ul>li {
      display: block;
    }

    .burger {
      display: block;
    }

    .small>.burger {
      content: url("menuHamburger.png") !important;
    }
  }
}



/* ------------------ */
.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("sthlm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.front-wrap {
  min-height: 100vh;
}

.home-front {
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 5rem;
  color: var(--color-white);
}

.home-front>img {
  height: auto;
  /* margin: 0 4rem; */
  /* position:absolute; */
}

.home-front>div {
  top: 200px;
  left: 200px;
  padding: 0 4rem;
  width: 50rem;
}

.home-front>div>p {
  font-size: x-large;
  padding-right: 9rem;
}

.home-front>div>h1 {
  padding-right: 10rem;
  font-size: xx-large;
}

.home-content {
  padding: 2rem 20vw;
  background-color: var(--color-off-white);
}

@media screen {
  @media(max-width:1100px) {
    .home-front {
      display: block;
      text-align: center;
    }

    .home-front>div>p {
      padding-right: 0;
    }

    .home-front>div>h1 {
      padding-right: 0;
    }

    .home-front>div {
      padding: 0;
      width: auto;
    }

  }
}

/* ------------------ */
.search {
  position: relative;
  display: flex;
  min-width: 200px;
}

.search input {
  border: 2px solid lightgray;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 3rem;
  outline: 0;
  background-color: var(--color-white);
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background-color: var(--color-off-white);
  font-weight: bold;
  border: 2px solid lightgray;
  border-left: 2px solid var(--color-black);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* ------------------ */

footer {
  bottom: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--color-green);
  color: var(--color-white);
}

footer>div {
  margin: 1rem;
}

footer ul {
  list-style: none;
  padding-inline-start: 0;
}

footer li {
  padding-bottom: 1rem;
  align-self: left;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

footer a:hover {
  border-bottom: 2px solid var(--color-white);
}

.vertical-line {
  border: 2px solid var(--color-white);
  border-radius: 25px;
  height: 8rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

@media screen {
  @media(max-width:800px) {
    footer {
      display: block;
      align-self: center;
      text-align: center;
      padding-left: 15vw;
      padding-right: 15vw;
      padding-top: 2rem;
    }

    footer > div{
      padding-bottom: 1rem;
    }

    footer > div > ul{
      margin-bottom:0;
    }

    footer>.vertical-line {
      display:none;
    }
  }
}



/* ------------------- */

.about-wrapper{
  min-height:90vh;
  background-color: var(--color-off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:2rem;
}

.about-wrapper div{
  max-width:60vw;
  text-align: center;
}

.about-wrapper hr{
  width: 20rem;
  border-width: 3px;
}