:root {
    --font: Font,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    --color-white: #fff;
    --color-off-white: #f4f4f4;
    --color-green: #039c88;
    --color-black: #000;
  }
  
body{
    padding:0;
    margin:0;
    font-family: var(--font);
} 

/* --------------- */

nav{
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: var(--color-green);
  font-weight: bold;
  font-size: 25px;
}

nav > ul {
  list-style:none;
}

nav > ul > li {
  display: inline-block;
  margin-left: 1rem;
  padding: 1rem;
}

nav > ul > li:hover {
  border: 2px solid var(--color-black);
}

nav > ul > li > a{
  text-decoration: none;
  color: var(--color-black)
}


/* ------------------ */

.wrapper{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background-image:url("sthlm.jpg");
  overflow-y: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-body > img {
  height:auto;
  /* position:absolute; */
}
.home-body > div {
  top:200px;
  left: 200px;
  padding: 1rem;
  /* background-color: var(--color-off-white); */
}

